.tasksBoard {
    max-width: 46rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tasksBoard header {
    width: 100%;
    margin: 4rem 0 1.5rem 0;

    display: flex;
    justify-content: space-between;
}

.createdTasks, .finishedTasks {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.createdTasks span, .finishedTasks span {
    padding: 2px 8px;
    border-radius: 999px;

    background: var(--gray-400);
    color: var(--gray-200);
    font-size: 0.75rem;
    font-weight: bold;
}

.createdTasks p {
    font-weight: bold;
    color: var(--blue-300);
}

.finishedTasks p {
    font-weight: bold;
    color: var(--purple-300);
}

.noTasksWrapper {
    padding: 64px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--gray-300);
}

.noTasksWrapper svg {
    margin-bottom: 0.75rem;
}

.list {
    width: 100%;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
