.header {
    height: 200px;
    background: var(--gray-700);

    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    max-width: 46rem;
    margin: 0 auto;
    display: flex;
    gap: 8px;

    margin-top: -1.6875rem;
}

.form input {
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
    flex: 1;

    color: var(--gray-100);
}

.form button {
    background: var(--blue-500);
    color: var(--gray-100);
    font-weight: bold;
    font-size: 0.875rem;

    border: none;
    border-radius: 8px;
    padding: 1rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}